In [1]:
import pandas as pd
import glob
import numpy as np
import functools
import sys
import pickle
from datetime import date

In [2]:
df = pd.read_csv('mta_data.csv', index_col=None, header=0)

In [3]:
df.columns = df.columns.str.strip()

In [4]:
df['TIMESTAMP'] = pd.to_datetime((df.DATE + ' ' + df.TIME), format='%m/%d/%Y %H:%M:%S')

In [5]:
df.dtypes

C/A                  object
UNIT                 object
SCP                  object
STATION              object
LINENAME             object
DIVISION             object
DATE                 object
TIME                 object
DESC                 object
ENTRIES             float64
EXITS               float64
TIMESTAMP    datetime64[ns]
dtype: object

In [6]:
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,TIMESTAMP
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/19/2019,03:00:00,REGULAR,6914752.0,2344809.0,2019-01-19 03:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/19/2019,07:00:00,REGULAR,6914764.0,2344821.0,2019-01-19 07:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/19/2019,11:00:00,REGULAR,6914825.0,2344898.0,2019-01-19 11:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/19/2019,15:00:00,REGULAR,6915047.0,2344971.0,2019-01-19 15:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/19/2019,19:00:00,REGULAR,6915367.0,2345026.0,2019-01-19 19:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
12886148,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,04:00:00,REGULAR,5554.0,420.0,2019-12-20 04:00:00
12886149,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,08:00:00,REGULAR,5554.0,420.0,2019-12-20 08:00:00
12886150,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,12:00:00,REGULAR,5554.0,420.0,2019-12-20 12:00:00
12886151,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,16:00:00,REGULAR,5554.0,420.0,2019-12-20 16:00:00
12886152,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,20:00:00,REGULAR,5554.0,420.0,2019-12-20 20:00:00

In [7]:
is_returncountervalue = df[(df['DESC'] != 'REGULAR') & (df['DESC'] != 'RECOVR AUD')].index
df.drop(is_returncountervalue,inplace=True)

In [8]:
df = df.sort_values(by=['C/A','UNIT','SCP','STATION','TIMESTAMP'])

In [9]:
df['EXITS_DIFF']=df.groupby(['C/A','UNIT','SCP','STATION'],as_index=False)['EXITS'].transform(pd.Series.diff)['EXITS']

In [10]:
df['ENTRIES_DIFF']=df.groupby(['C/A','UNIT','SCP','STATION'],as_index=False)['ENTRIES'].transform(pd.Series.diff)['ENTRIES']

In [11]:
is_returncountervalue = df[df['EXITS_DIFF'] < 0].index
df.drop(is_returncountervalue,inplace=True)

In [ ]:
is_returncountervalue = df[df['ENTRIES_DIFF'] < 0].index
df.drop(is_returncountervalue,inplace=True)

In [ ]:
df['DAY_OF_WEEK'] = df['TIMESTAMP'].dt.day_name()

In [ ]:
df['TOTAL_TRAFFIC'] = df['ENTRIES_DIFF'] + df['EXITS_DIFF']

In [ ]:
is_returncountervalue = df[(df['TOTAL_TRAFFIC'] > 1500000)].index

In [ ]:
df.drop(is_returncountervalue,inplace=True)

In [ ]:
start_date = pd.Timestamp(date(2019,1,1))
end_date = pd.Timestamp(date(2019,7,1))

df_filter_months = df[(df['TIMESTAMP'] > start_date) & (df['TIMESTAMP'] < end_date)].copy()

In [ ]:
df_filter_months['HOURTIME'] = df_filter_months.TIMESTAMP.apply(lambda x:x.hour)
df_filter_months['TIMEFRAME']=df_filter_months.HOURTIME.apply(lambda x: 'EVENING' if (x >13) else 'MORNING' )
df_filter_months['WEEKFRAME']=df_filter_months.DAY_OF_WEEK.apply(lambda x: 'WEEKEND' if ((x == 'Saturday') or (x == 'Sunday')) else 'WEEK' )

In [ ]:
with open('DataSet6Months', 'wb') as to_write:
    pickle.dump(df_filter_months, to_write)